<div class="navbar">
  <a href="home" class="home">Home</a>
  <a href="add" class="add">Add your shake</a>
</div>

<div class="banner">
  <div class="container">
    <h1>Daily shake guide</h1>
    <p>Feed your body, feed your muscle</p>
  </div>
</div>
