<div class="banner">

  <div class="container">

    <h1>Daily protein shake recipe</h1>
    <p>A shake a day, keep the doctor away.</p>
  </div>
</div>

  <div class="container">
    <div class="card-category">
      <% @shakes.each do |shake| %>
      <div class="card">
        <h3><%= link_to shake.name, shake_path(shake), class: 'card-text' %></h3>
        <% if policy(shake).destroy? %>
        <%= link_to shake_path(shake), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash destroy_dose"></i>
        <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>


<div class="footer">
  <ul>
    <li><a href="#">
      <i class="fab fa-linkedin-in"></i></a>
    </li>
    <li><a href="#">
      <i class="fab fa-twitter"></i></a>
    </li>
    <li><a href="#">
      <i class="fab fa-github"></i></a>
    </li>
  </ul>
  <p>Sharing is loving! Share your shake</p>
</div>
