<div class="banner-home">
  <div class="search">
    <li>
      <%= form_tag shakes_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
        placeholder: "Find your shake recipe"
        %>
    </li>
    <li>
      <button type="submit">
        <i class="fas fa-search"></i>
      </button>
    </li>
    <% end %>
  </div>
</div>
